{% extends "base.html" %}

{% block head %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.8.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.8.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.8.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.8.0.min.js"
        crossorigin="anonymous"></script>
{% if plot_script %}
    {{ plot_script|safe }}
{% endif %}
{% endblock %}

{% block content %}
<div class="content">
    <h2>Plots</h2>
    <p>Interactive scatter plot showing the spatial distribution of sources using right ascension (ra) and declination (dec) coordinates.</p>
    
    <div class="visualization" style="margin-top: 2rem;">
        {% if plot_div %}
            {{ plot_div|safe }}
        {% else %}
            <p>No plot data available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

