# Global DB properties
ASTRO_WEB_DATABASE_URL="sqlite:////path/to/all-stream-unique-database-v3/all_streams_unique_v3.sqlite"
ASTRO_WEB_SCHEMA=""
ASTRO_WEB_LOOKUP_TABLES="Publications,Telescopes,Instruments,PhotometryFilters,RegimeList,AssociationList,ParameterList"

# Primary column relationships
ASTRO_WEB_PRIMARY_TABLE="Sources"
ASTRO_WEB_SOURCE_COLUMN="source"
ASTRO_WEB_FOREIGN_KEY="source"
ASTRO_WEB_PRIMARY_DATATYPE="str"

# Special column handling
ASTRO_WEB_RA_COLUMN="ra_deg"
ASTRO_WEB_DEC_COLUMN="dec_deg"
ASTRO_WEB_SPECTRA_URL_COLUMN="access_url"

# Web display settings
ASTRO_WEB_SOURCE_URL_BASE="/source/"

# Path to database.toml file (optional, defaults to database.toml in current directory)
ASTRO_WEB_TOML=""